.kg{
    line-height: 40px;
    margin-right: 2rem;
}
@media (max-width: 768px) {
    .col-md-6{
        width: 100% !important;
        text-align: center;
    }
    .d-flex{
        margin-bottom: 2rem;
        justify-content: center;
    }
    .number{
        margin-right: 1rem;
        line-height: 40px;
    }
}